i.icon-blue {
    color: blue !important;
}
i.icon-red {
    color: red !important;
}
i.icon-green {
    color: green !important;
}
.sidenav .user-view {
  margin-bottom: 0px !important;
}
.disabled {
pointer-events: none !important;
}
